{% extends 'base_layout.html' %}
{% load static %}
	{% block content %}
	<div class="body-title">
		<h1>Teams</h1>
	</div>
	<div class="teams">
		<div class="blazers">
			<a href={% url 'team-profile' slug='portland-trail-blazers'%}>
				<img src="{% static 'teams/blazers.png' %}" alt="Portland Trail Blazers"/>
				<div class="center">
					<div class="img-text">Portland Trail Blazers</div>
				</div>
			</a>
		</div>
		<div class="bucks">
			<a href="#">
				<img src="{% static 'teams/bucks.png' %}" alt="Milwaukee Bucks"/>
				<div class="center">
					<div class="img-text">Milwaukee Bucks</div>
				</div>
			</a>
		</div>
		<div class="bulls">
			<a href="#">
				<img src="{% static 'teams/bulls.png' %}" alt="Chicago Bulls"/>
				<div class="center">
					<div class="img-text">Chicago Bulls</div>
				</div>
			</a>
		</div>
		<div class="cavs">
			<a href="#">
				<img src="{% static 'teams/cavs.png' %}" alt="Cleveland Cavaliers"/>
				<div class="center">
					<div class="img-text">Cleveland Cavaliers</div>
				</div>
			</a>
		</div>
		<div class="celtics">
			<a href="#">
				<img src="{% static 'teams/celtics.png' %}" alt="Boston Celtics"/>
				<div class="center">
					<div class="img-text">Boston Celtics</div>
				</div>
			</a>
		</div>
		<div class="clippers">
			<a href="#">
				<img src="{% static 'teams/clippers.png' %}" alt="Los Angeles Clippers"/>
				<div class="center">
					<div class="img-text">Los Angeles Clippers</div>
				</div>
			</a>
		</div>
		<div class="grizzlies">
			<a href="#">
				<img src="{% static 'teams/grizzlies.png' %}" alt="Memphis Grizzlies"/>
				<div class="center">
					<div class="img-text">Memphis Grizzlies</div>
				</div>
			</a>
		</div>
		<div class="hawks">
			<a href="#">
				<img src="{% static 'teams/hawks.png' %}" alt="Atlanta Hawks"/>
				<div class="center">
					<div class="img-text">Atlanta Hawks</div>
				</div>
			</a>
		</div>
		<div class="heat">
			<a href="#">
				<img src="{% static 'teams/heat.png' %}" alt="Miami Heat"/>
				<div class="center">
					<div class="img-text">Miami Heat</div>
				</div>
			</a>
		</div>
		<div class="hornets">
			<a href="#">
				<img src="{% static 'teams/hornets.png' %}" alt="Charlotte Hornets"/>
				<div class="center">
					<div class="img-text">Charlotte Hornets</div>
				</div>
			</a>
		</div>
		<div class="jazz">
			<a href="#">
				<img src="{% static 'teams/jazz.png' %}" alt="Utah Jazz"/>
				<div class="center">
					<div class="img-text">Utah Jazz</div>
				</div>
			</a>
		</div>
		<div class="kings">
			<a href="#">
				<img src="{% static 'teams/kings.png' %}" alt="Sacramento Kings"/>
				<div class="center">
					<div class="img-text">Sacramento Kings</div>
				</div>
			</a>
		</div>
		<div class="knicks">
			<a href="#">
				<img src="{% static 'teams/knicks.png' %}" alt="New York Knicks"/>
				<div class="center">
					<div class="img-text">New York Knicks</div>
				</div>
			</a>
		</div>
		<div class="lakers">
			<a href="#">
				<img src="{% static 'teams/lakers.png' %}" alt="Los Angeles Lakers"/>
				<div class="center">
					<div class="img-text">Los Angeles Lakers</div>
				</div>
			</a>
		</div>
		<div class="magic">
			<a href="#">
				<img src="{% static 'teams/magic.png' %}" alt="Orlando Magic"/>
				<div class="center">
					<div class="img-text">Orlando Magic</div>
				</div>
			</a>
		</div>
		<div class="mavs">
			<a href="#">
				<img src="{% static 'teams/mavs.png' %}" alt="Dallas Mavericks"/>
				<div class="center">
					<div class="img-text">Dallas Mavericks</div>
				</div>
			</a>
		</div>
		<div class="nets">
			<a href="#">
				<img src="{% static 'teams/nets.png' %}" alt="Brooklyn Nets"/>
				<div class="center">
					<div class="img-text">Brooklyn Nets</div>
				</div>
			</a>
		</div>
		<div class="nuggets">
			<a href="#">
				<img src="{% static 'teams/nuggets.png' %}" alt="Denver Nuggets"/>
				<div class="center">
					<div class="img-text">Denver Nugggets</div>
				</div>
			</a>
		</div>
		<div class="pacers">
			<a href="#">
				<img src="{% static 'teams/pacers.png' %}" alt="Indiana Pacers"/>
				<div class="center">
					<div class="img-text">Indiana Pacers</div>
				</div>
			</a>
		</div>
		<div class="pelicans">
			<a href="#">
				<img src="{% static 'teams/pelicans.png' %}" alt="New Orleans Pelicans"/>
				<div class="center">
					<div class="img-text">New Orleans Pelicans</div>
				</div>
			</a>
		</div>
		<div class="pistons">
			<a href="#">
				<img src="{% static 'teams/pistons.png' %}" alt="Detroit Pistons"/>
				<div class="center">
					<div class="img-text">Detroit Pistons</div>
				</div>
			</a>
		</div>
		<div class="raptors">
			<a href="#">
				<img src="{% static 'teams/raptors.png' %}" alt="Toronto Raptors"/>
				<div class="center">
					<div class="img-text">Toronto Raptors</div>
				</div>
			</a>
		</div>
		<div class="rockets">
			<a href="#">
				<img src="{% static 'teams/rockets.png' %}" alt="Houston Rockets"/>
				<div class="center">
					<div class="img-text">Houston Rockets</div>
				</div>
			</a>
		</div>
		<div class="sixers">
			<a href="#">
				<img src="{% static 'teams/sixers.png' %}" alt="Philadelphia 76ers"/>
				<div class="center">
					<div class="img-text">Philadelphia 76ers</div>
				</div>
			</a>
		</div>
		<div class="spurs">
			<a href="#">
				<img src="{% static 'teams/spurs.png' %}" alt="San Antonio Spurs"/>
				<div class="center">
					<div class="img-text">San Antonio Spurs</div>
				</div>
			</a>
		</div>
		<div class="suns">
			<a href="#">
				<img src="{% static 'teams/suns.png' %}" alt="Phoenix Suns"/>
				<div class="center">
					<div class="img-text">Phoenix Suns</div>
				</div>
			</a>
		</div>
		<div class="thunder">
			<a href="#">
				<img src="{% static 'teams/thunder.png' %}" alt="Oklahoma City Thunder"/>
				<div class="center">
					<div class="img-text">Oklahoma City Thunder</div>
				</div>
			</a>
		</div>
		<div class="warriors">
			<a href="#">
				<img src="{% static 'teams/warriors.png' %}" alt="Golden State Warriors"/>
				<div class="center">
					<div class="img-text">Golden State Warriors</div>
				</div>
			</a>
		</div>
		<div class="wizards">
			<a href="#">
				<img src="{% static 'teams/wizards.png' %}" alt="Washington Wizards"/>
				<div class="center">
					<div class="img-text">Washington Wizards</div>
				</div>
			</a>
		</div>
		<div class="wolves">
			<a href="#">
				<img src="{% static 'teams/wolves.png' %}" alt="Minnesota Timberwolves"/>
				<div class="center">
					<div class="img-text">Minnesota Timberwolves</div>
				</div>
			</a>
		</div>
	</div>


	{% endblock %}
